.dropdown-box /deep/ .dropdown-wrapper {
  right: -16px;
  width: 212px;

  @media #{map-get($display-breakpoints, 'sm')} {
    right: -32px;
  }

  @media #{map-get($display-breakpoints, 'lg')} {
    right: 0;
  }
}

.dropdown-box /deep/ .box {
  width: 212px;
  height: 252px;

  .rectangle {
    left: calc(80% - 12px / 2 + 6px);
  }
}

.btn-menu-profile {
  display: block;
  width: 100%;
  background: transparent;
  border: transparent;
  text-align: left;
  cursor: pointer;

  &:hover {
    background-color: rgba(255, 255, 255, 0.15);
  }
}

.btn-menu {
  padding: 0;
  margin: 0;
  background: transparent;
  border: transparent;

  @include text-body;
}
