.dropdown-box /deep/ .dropdown-wrapper {
  // padding-top: 23px !important;
  right: 0;
  width: 212px;
}

.dropdown-box /deep/ .box {
  width: 212px;
  height: 252px;

  .rectangle {
    left: calc(80% - 12px / 2 + 6px);
  }
}

.btn-menu-profile {
  display: block;
  width: 100%;
  background: none;
  border: none;
  text-align: left;
  cursor: pointer;

  &:hover {
    background-color: map-get($colors, 'gray');
  }
}

.btn-menu {
  padding: 0;
  margin: 0;
  background: none;
  border: none;
  @include text-body;
}
