<div class="black-tint">
  <div class="container">
    <div class="d-flex flex-column align-items-center flex-sm-row jc-center column-gap-6 pa-6 pa-sm-8 pa-lg-12">
      <div>
        <a
          class="text-body text-muted"
          href="mailto:mariia@antipov.me"
          v-text="'email'"
        />
      </div>

      <div>
        <a
          class="text-body text-muted"
          href="https://instagram.com/madzzzzilla?igshid=MjEwN2IyYWYwYw=="
          v-text="'instagram'"
        />
      </div>

      <div>
        <a
          class="text-body text-muted"
          href="https://t.me/madzzzilla"
          v-text="'telegram'"
        />
      </div>
    </div>
  </div>
</div>
