<div class="header">
  <div class="container">
    <header class="d-flex align-items-center jc-space-between py-4 py-lg-6">
      <div class="d-flex align-items-center">
        <atoms-logo class="mr-8" />
      </div>

      <div class="d-flex align-items-center column-gap-4">
        <div class="d-flex jc-center column-gap-2">
          <template v-for="locale in $i18n.locales">
            <component
              :is="locale.code === $i18n.locale ? 'span' : 'nuxt-link'"
              :key="locale.code"
              :href="locale.code === $i18n.locale ? null : menuLocale[locale.code]"
              :to="locale.code === $i18n.locale ? null : menuLocale[locale.code]"
              :class="{ 'text-bold': locale.code === $i18n.locale }"
              class="link-locale text-gray link-none text-uppercase text-body"
              v-text="locale.code"
            />
          </template>
        </div>

        <nuxt-link
          v-for="{ id, nuxtHref } of menu" :key="id"
          class="text-body text-gray ml-2 mb-0"
          :to="localePath(nuxtHref)"
          active-class="active"
          v-text="$t(`header.${id}`)"
        />

        <molecules-card-menu-dropdown />
      </div>
    </header>
  </div>
</div>
