.dropdown-box {
  position: relative;
  // display: inline-block;

  .dropdown-wrapper {
    position: absolute;
    background: rgba(241, 241, 244, 0.7);
    backdrop-filter: blur(32px);
    margin-top: 18px;

    z-index: -1;

    @media #{map-get($display-breakpoints, 'sm')} {
      margin-top: 24px;
    }

    &.active {
      .box {
        height: 252px;
        top: 0;
        opacity: 1;
      }
    }

    .box {
      position: absolute;
      top: -1px;
      height: 1px;
      opacity: 0;

      overflow: scroll;
      background: rgba(241, 241, 244, 0.7);
      backdrop-filter: blur(32px);

      transition: all .3s, top .3s;
      z-index: -1;
    }
  }
}
