.dropdown-box {
  position: relative;
  display: inline-block;

  .dropdown-wrapper {
    position: absolute;
    padding-top: 18px;
    z-index: 1;

    @media #{map-get($display-breakpoints, 'sm')} {
      padding-top: 26px;
    }

    &.active {
      .box {
        height: 252px;
      }
    }

    .box {
      position: absolute;
      height: 0;

      overflow: scroll;
      background: rgba(241, 241, 244, 0.7);
      backdrop-filter: blur(32px);
      transition: height .3s;
    }
  }
}
